body {
    margin: 0;
    background-color: antiquewhite;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 100%;
    padding: 0 15px;
}

h1 {
    font-family: Georgia;
    font-size: 60px;
    text-align: center;
    margin: 0;
}

img {
    width: 100%;
}

#images {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
}

@media (max-width: 800px) and (min-width: 536px) {
    #images {
    grid-template-columns: 250px 250px;
    justify-content: center;
    gap: 5px;
    }
}

@media (max-width: 535px) and (min-width: 301px) {
   h1 {
    display:none;
   }
   #images {
    grid-template-columns: 1fr 1fr;
   }
}

@media (max-width: 301px) {
    body {
        height: auto;
    }
    main {
        padding: 0;
    }
    #images {
        grid-template-columns: 1fr;
    }
    h1 {
        display: none;
    }
}