body {
    margin: 0;
    height: 100vh;
    background-color: beige;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

main {
    background-color: lightgrey;
    height: auto;
    width: 75vw;
    border-radius: 5px;
    padding: 20px;
}

.paintings {
    display: flex;
    gap: 10px;
}

#Unknown, #Parnassus {
    flex-grow: 1;
    text-align: center;
}

img {
    max-width: 100%;
}

@media (max-width: 480px) {
    body {
        height: auto;
        background-color: lightgrey;       

    }
    main {
        max-width: 100%;
        border-radius: 0;        

    }
    .paintings {
        flex-direction: column;
    }
    #Parnassus {
        order: 1;
    }
    #Unknown {
        order: 2;
    }
    
}