body {
    background-color: lightyellow;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: center;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    
    width: 75vw;
    background-color: lightgrey;
}

.paintings {
    flex-grow: 1;
    text-align: center;
}

img {
    max-width: 100%;
}

@media (max-width: 480px) {
    body {
        /* Eftersom vi hade 100vh tidigare vill vi nu låta höjden styras av innehållet */
        height: auto;
    }

    main {
        /* Nu vill vi att vår ruta ska ta upp all yta (går att göra på flera vis) */
        max-width: 100%;
        border-radius: 0;
    }

    #paintings {
        flex-direction: column;
    } 

    /* Vi ändrar också ordningen på tavlorna */
    #paintings #Unknown {
        order: 2;
    }

    #paintings .Parnassus {
        order: 1;
    }
}